$hacktober-violet-primary: #3241A6;
$hacktober-violet-secondary: #202A6B;
$hacktober-gradient: radial-gradient(circle, $hacktober-violet-primary 0, $hacktober-violet-secondary 120%);

$hacktober-link: #A69732;


