@import './../variables';

.hero-section {
  & {
    text-align: center;
    min-height: 100vh;
    padding: 1em 3em;
  }

  &.-height-fit {
    min-height: fit-content;
  }

  &.-mapped {
    padding: 0;
  }

  &.-purple {
    background: $hacktober-gradient;
    color: white;
  }

  &.-centered {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  &.-centered-horizontal {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  > .flowgrid {
    display: flex;
    flex-flow: row wrap;
    padding-top: 20px;
    align-items: center;
    justify-content: center;
  }

  > .logo {
    max-width: 100%;
    min-width: 200px;

    &.-small {
      width: 25%;
    }

    &.-medium {
      width: 40%;
    }
  }

  > .title {
    color: #3d3d3d; 
    margin: 20px 0 40px 0;
  }

  > .manila {
    margin: 0;
  }

  > .info {
    margin: 2em 0;

    > .link {
      color: $hacktober-link;
      text-decoration: none;

      &:visited {
        color: $hacktober-link;
      }
    }
  }

  > .event {
    > p {
      text-align: justify;
    }
  }

  > .registration {
    margin: 3.5em 0;
  }

  > .when {
    font-size: 1.25em;
  }

  > .venue {
    margin: 0;
    padding: 0;
    font-size: 1.25em;
  }
}
