@import './../variables';

.sponsor-card {
  & {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 20px;
  }

  > a > .logo {
    max-width: 300px;
    max-height: 250px;
    opacity: .8;

    &:hover {
      opacity: 1;
    }
  }

}
